@media screen and (min-width: 1200px) {
    .container {
     width: 1158px;
     }


    /*-----Header-----*/
    .header-mobile-menu {
            display: none;
        } 
    
    .header-logo { 
            margin-right: 76px;
        }


    /*------Main------*/

    .main {
        padding-top: 192px;
        padding-bottom: 192px;
        min-width: 1440px;
    }

    .main-title {
        width: 494px;
        font-weight: 700;
    }

    /*-----About-----*/

    .about {
        padding-top: 120px;
        padding-bottom:  120px;
    }
        
    .about-list {
        width: calc((100% - 72px) /4);
    }

    .about-block {
        margin-bottom: 8px;
        display: flex;
        flex-wrap: wrap;
        height: 112px;
        width: 100%;
    }

    .about-link {
        width: 100%;
        height: 100%;
        display: flex;
        align-items: center;
        justify-content: center;
        background: #F4F4FD;
        border-radius: 4px;
        color: #2E2F42;
        transition: color var(--transition), border var(--transition);
    }

    .about-title {
        text-align: left;
        font-weight: 500;
        line-height: 1.2;
    }
    
    .about-text {
        font-weight: 400;
    }
    
    .about-icon {
    fill:currentColor;
    }
    
    .about-link:hover,
    .about-link:focus {
        border: 1px solid #404BBF;
        color: #404BBF;
    }
    
    .about-title {
        /*text-align: ,*/
    }

    .team {
        padding-top: 120px;
        padding-bottom: 120px;
    }

    .team-catalog {
        justify-content: center;    
            gap: 24px;
        }

    .team-item {
        width: calc((100% - 72px) / 4);
    }

        /*----Customers----*/


    .customers-item {
        width: calc((100% - 120px) / 6);
    }
 }