@media screen and (min-width: 1200px) {
    .container {
     width: 1158px;
     }


    /*-----Header-----*/
    .header-mobile-menu {
            display: none;
        } 
    
    .header-logo { 
            margin-right: 76px;
        }
    
    .contacts {
        display: flex;
        align-items: center;
        gap: 40px;
    }   

    /*------Main------*/

    .main {
        padding-top: 192px;
        padding-bottom: 192px;
        background-image: linear-gradient(rgba(46, 47, 66, 0.7),
         rgba(46, 47, 66, 0.7)), url(../image/hero\ image.jpg);
    }

    .main-title {
        margin-bottom: 48px;
        
    }

    /*-----About-----*/

    .about {
        padding-top: 120px;
        padding-bottom:  120px;
    }
        
    .about-list {
        width: calc((100% - 72px) /4);
    }

    .about-block {
        margin-bottom: 8px;
        display: flex;
        flex-wrap: wrap;
        height: 112px;
        width: 100%;
    }

    .about-link {
        width: 100%;
        height: 100%;
        display: flex;
        align-items: center;
        justify-content: center;
        background: #F4F4FD;
        border-radius: 4px;
        color: #2E2F42;
        transition: color var(--transition), border var(--transition);
    }

    .about-title {
        text-align: left;
        font-weight: 500;
        line-height: 1.2;
    }
    
    .about-text {
        font-weight: 400;
    }
    
    .about-icon {
    fill:currentColor;
    }
    
    .about-link:hover,
    .about-link:focus {
        border: 1px solid #404BBF;
        color: #404BBF;
    }


    .about-title {
        font-family: 'Roboto';

    font-weight: 500;
    font-size: 20px;
    line-height: 1.2;
    letter-spacing: 0.02em;
    }


    
    /*------Product------*/
    
    .product {
        display: contents;
        padding-bottom: 120px;
    } 
    
    .product-title {
        text-align: center;
        margin-bottom: 72px;
        font-family: 'Roboto';
        font-weight: 600;
        font-size: 36px;
        line-height: 1.11;
        letter-spacing: 0.02em;
        color: var(--second-title-color);
    }
    
    .product-catalog {
        display: flex;
        gap: 24px;
    }
        /*------------TEAM----------*/
    

    .team {
        padding-top: 120px;
        padding-bottom: 120px;
    }

    .team > .container {
        width: 1158px;
    }

    .team-catalog {
        justify-content: center;    
            gap: 24px;
        }

    .team-item {
        width: calc((100% - 72px) / 4);
    }

        /*----Customers----*/

    .customers > .container {
            width: 1158px;
    
            }
    .customers-item {
        width: calc((100% - 120px) / 6);
    }

    /*------------Footer----------*/

    .footer {
    }

    .footer > .container {
        width: 1158px;

        }
        
        .footer-container {
        width: 264px;
        margin-bottom: 16px;
        text-align: left;
            }

        .footer-catalog {
            display: flex;
            flex-wrap: nowrap;
            justify-content: none;
            padding: 0;
            /*flex-wrap: wrap;
            flex-direction: row;
            gap: 0;*/
            gap: 0;
            margin: 0;
        }

        .footer-item {
            display: block;;
            margin-bottom: 0;
            }

        .footer-text {
            margin: 0;
            margin-right: 120px;
            text-align: left;
        }

        .footer-media{
        text-align: left;
        
        }

        .footer-soc-list {
            gap: 16px;
            margin-right: 80px;
            
        }

        .subscribe{
        padding: 0;
        display: block;
  
        }

        .subscribe-deck {
            text-align: left;
        }

        .subscribe-item {
            gap: 0;
            margin: 0, auto;
    
        }
        .subscribe-input {
        max-width: 264px;
        margin-right: 24px;

    }

 }