@media screen and (min-width: 768px) {
    .container {
     width: 768px;
     }


    .about-list {
        width: calc((100% - 24px) /2);

    }

    .about-title {
        text-align: left;  
    }
    
    .about-text {

        font-weight: 500;

    }

    .team {
        padding-bottom: 104px;
    }

    /*.team > .container {
        width: 480px;
    }*/

    .team-catalog {
        margin: 0;
    }

    .team-item {
        width: calc((100% - 24px) / 2);
    }
 }
